.mdc-list-item__meta.smui-list__trailing-icon {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	fill: currentColor;
	object-fit: cover;
	margin-left: 32px;
	margin-right: auto;
}
