@use "smui-theme";
@use "@material/list";
@use "./mixins";

@include list.core-styles();
@include mixins.smui-list-core-styles();

@for $density from 1 to 5 {
	.smui-list--density--#{$density} {
		@include list.single-line-density($density * -1);
	}
}

.mdc-list-item__meta.smui-list__trailing-icon {
	min-width: 24px;
	min-height: 24px;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	fill: currentColor;
	object-fit: cover;
}
