@use "smui-theme";
@use "@material/textfield";
@use "@material/floating-label";
// @use "../../notched-outline";

@include textfield.core-styles;

.smui-text-field__wrapper {
	display: inline-flex;
	flex-direction: column;

	&.smui-text-field__wrapper--fullwidth {
		display: flex;
		width: 100%;
	}

	.mdc-text-field {
		&.mdc-text-field--textarea {
			.mdc-text-field__input {
				padding: 0 textfield.$padding-horizontal;
			}
		}

		.mdc-text-field__input {
			padding-left: 0;
			padding-right: 0;

			&:-webkit-autofill + .mdc-floating-label {
				transform: translateY(-(textfield.$label-position-y))
					scale(floating-label.$float-scale);
			}
		}
	}
}
