@use "@material/feature-targeting";
@use "@material/image-list";

// Standard Image List

@mixin standard-columns(
	$column-count,
	$gutter-size: image-list.$standard-gutter-size,
	$query: feature-targeting.all()
) {
	$feat-structure: feature-targeting.create-target($query, structure);

	// This uses margin rather than padding to facilitate properly positioning the supporting content element when
	// --with-text-protection is used.
	.mdc-image-list__item {
		@include feature-targeting.targets($feat-structure) {
			// Subtract extra fraction from each item's width to ensure correct wrapping in IE/Edge which round differently
			width: calc(
				100% / #{$column-count} - (#{$gutter-size} + 1px / #{$column-count})
			);
			margin: calc(#{$gutter-size} / 2);
		}
	}
}
